<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1_2_SnapShot_1680402325732"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="130.63.96.82"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="87"/>
    <intAttribute key="maxHeapSize" value="50"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="temp0, temp1, temp2, i, j, numberOfMultiplesOf3Plus1, numberOfMultiplesOf3Plus2, numberOfMultiplesOf3, pc, remainder, output"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants"/>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="0Termination"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="input;;&lt;&lt;&gt;&gt;;0;0"/>
    </listAttribute>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="6"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="PT2_Task2"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
